<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body style="font-family:Arial">
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">AspNet Core App</div>
            <ul>
                <li><a href="~/">Home</a></li>
                <li><a href="~/about">About</a></li>
            </ul>
        </div>
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
    
</body>
</html>


